<!DOCTYPE html>
<html> 
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
      <meta name="author" content="GeeksLabs">
      <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
      <link rel="shortcut icon" href="../img/favicon.png">
    
      <title>자취세끼</title>
    
      <!-- Bootstrap CSS -->
      <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <!-- bootstrap theme -->
      <link href="../css/bootstrap-theme.css" rel="stylesheet" type="text/css">
      <!--external css-->
      <!-- font icon -->
      <link href="../css/elegant-icons-style.css" rel="stylesheet" type="text/css"/>
      <link href="../css/font-awesome.css" rel="stylesheet" type="text/css"/>
      <!-- Custom styles -->
      <link href="../css/style.css" rel="stylesheet" type="text/css">
      <link href="../css/style-responsive.css" rel="stylesheet" type="text/css"/>
    
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
      <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    
        <!-- =======================================================
          Theme Name: NiceAdmin
          Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
          Author: BootstrapMade
          Author URL: https://bootstrapmade.com
        ======================================================= -->
    </head>
    
    <body class="login-img3-body">
    
      <div class="container">
    
        <form class="login-form" action="/users/auth" method="post">
          <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group">
              <span class="input-group-addon"><i class="icon_profile"></i>아이디</span>
              <input type="text" name="uid" class="form-control" placeholder="ID" autofocus>
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="icon_key_alt"></i>비밀번호</span>
              <input type="password" name="pass" class="form-control" placeholder="Password">
            </div>
            <label class="checkbox">
                    <span class="pull-center"> <a href="#"> 아이디찾기</a></span>
                    <span class="pull-right"> <a href="#"> 비밀번호찾기</a></span>
                    <span class="pull-left"> <a href="#"> 회원가입</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </label>
            <button class="btn btn-primary btn-lg btn-block" type="submit">로그인</button>
          </div>
        </form>
        <div class="text-center">
          <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
              -->
              Designed by <a href="#">자취세끼 문선일, 노지홍, 노권영</a>
            </div>
        </div>
      </div>
    
    
    </body>
    
</html>
    